*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px;
}

header p{
    position: fixed;
    text-align: center;
    height: 20px;
    display: block;
    color: white;
    font-weight: bolder;
    padding: 10px;
    background-color: crimson;
    width: 100%;
    z-index: 1;
}
.banner{
position: relative;
}
.banner img{
    width: 100%;
}
.banner p{
    position: absolute;
    bottom: 300px;
    background-color: rgba(0, 0, 0, 0.289);
    color: white;
    display: block;
    margin-right: 40%;
    margin-left: 5%;
}
.banner p span{
    font-weight: bolder;
    font-size: 40px;
}
nav{
    background-color: rgb(155, 18, 45);
    text-align: center;
    height: 60px;
    position: sticky;
    top: 40px;
    z-index: 1;
}
nav .linker{
    color: white;
    text-decoration: none;
    padding: 20px 10%;
    display: inline-block;

}

nav .linker:hover{
    color: white;
    text-decoration: none;
    padding: 20px 10%;
    display: inline-block;
    background-color: black;
}
main {
    margin: 0px 15%;
}

main span{
    margin: 20px 0px;
    display: inline-block;
    font-weight: bold;
}
.gallary{
    text-align: center;
}
.gallary img{
    width: 100%;
}
footer{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 30px;
    text-align: center;

}