*{
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    color: white;
    background-color: crimson;
    text-align: center ;
    height: 60px;
    width: 100%;
    z-index: 1;
}

header p{
    display: inline;
    font-weight: bold;
    border: 4px solid white;
    padding: 10px;
    margin: 20px;
    position: relative;
    top: 20px;
    border-radius: 30px;
}

.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner p{
    position: absolute;
    bottom: 400px;
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    margin-left: 5%;
    margin-right: 50%;
    padding: 20px;
    text-align: justify;
}
.banner p span{
    font-weight: bold;
    display: block;
    font-size: 20px;
}
nav{
    background-color: rgb(190, 15, 50);
    height: 40px;
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 60px

}
nav a{
    padding: 10px 10%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

nav a:hover{
    padding: 10px 10%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: black;
}

main{
    margin: 20px 10%;
}
main p{
    font-weight: bold;
}
article{
    text-align: justify;
    margin: 20px 0px;
}

.gallary img{
    width: 100%;
}

footer{
    background-color: black;
    height: 30px;
    text-align: center;
}
footer p{
    color: white;
    position: relative;
    top: 5px
}
.formhere{
    background-color: rgba(0, 0, 0, 0.123);
    height: 100px;
    text-align: center;
}
.formhere form{
    position: relative;
    top: 30px;
}

@media screen and (max-width: 1057px) {

    .banner p{
        bottom: 200px;
    }
    nav a{
        padding: 10px 5%;
    }
    nav a:hover{
        padding: 10px 5%;
    }

    
}
@media screen and (max-width: 762px) {

    .banner p{
        bottom: 100px;
    }
    
}
@media screen and (max-width: 647px) {

    .banner p{
        position: relative;
        top:0px;
        bottom: 0px;
        margin: 0px ;
        background-color: black;

    }
    nav a{
        padding: 10px 5%;
        display: block;

    }
    nav a:hover{
        padding: 10px 5%;
        display: block;
    }
    nav{
        background-color: rgb(190, 15, 50);
        height: 150px;
        text-align: center;
        position: relative;
        z-index: 1;
        top: 0px;
    
    }
    header{
        position: relative;
    }
}