/* .item1{
    background-color: yellow;
    height: 300px;
    width: 300px;
    margin: 30px;
    display: flex;
} */

*{
    margin: 0;
    padding: 0;
}

.contain{
    background-color: gray;
    margin: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-start;
    align-items:flex-end;
    flex-wrap:wrap;
    text-align: center;
}

.item{
    background-color: crimson;
    color: white;
    padding: 10px;
    margin: 30px;
    flex: 1;
}
.item-2{
    flex-grow: 2;
}
.item-5{
    flex-shrink: 3;
}
